{% extends "templates/base.jinja2" %}
{% block content %}

    <div class="row">
      <header class="large-12 columns" role="banner">

        <img src="{{ request.static_url('healingrain:static/images/logo.png') }}" alt="logo symbolizing healing and positivity" class="logo" />
        <h1>{{ title }}</h1>
      </header>
    </div>

        <div class="row">
          <div class="large-12 columns">
            <section class="callout panel">
            <h2>Our Mission</h2>
              <p>Research has shown that gaming can have significant positive impact on an individual's social, personal, and physical rehabilitation. Despite these benefits, gaming communities are often inaccessible or profoundly negative. Everyone deserves access to a helpful, positive community where they are free to be themselves. <strong>That's where Healing Rain comes in.</strong></p>
              <p>
              We aim to deliver positive, accessible information to help improve the gaming experience for all types of gamers. We hope to foster an inclusive, positive community based on helping and healing. There is no “other” here, we want to see you grow and be exactly the person you want to be--in game or out. Basically, we aim to stack positives like you hope your in-game healer stacks heals. Be sure to <a href="http://twitter.com/castHealingRain">follow us on Twitter</a>!
              </p>
            </section>
          </div>
        </div>
        <div class="row">
          <div class="large-4 medium-4 small-4 columns">
            <section class="panel">
            <h3>Join The Team:</h3>
              <p>We are looking for people who are committed to helping Healing Rain grow either through one-time contributions or being full-time on the team. We will need designers, developers, writers, artists, accessibility consultants, forum moderators, and more. Volunteers are much appreciated. We are also happy to negotiate fair pricing!</p>
              <a href="https://docs.google.com/forms/d/1Xtnpn1_77oukQw66kdHFCLd2hgSUs-EDe3q-HtlrTJA/viewform" class="small button">Contributor Application</a>
            </section>
          </div>
          <div class="large-4 medium-4 small-4 columns">
            <section class="panel">
            <h3>Share Your View:</h3>
              <p>Healing Rain will be designed to benefit every gamer under the gaming and human rainbows. To do this, we'd love to hear your experiences with gaming communities and social gaming. Please click the button below to fill out an anonymous survey. Each question is optional so only answer what you feel comfortable sharing!</p>
              <a href="https://docs.google.com/forms/d/1wdTUPGL6UB6LixFh6La1Ls10_sxjr1MT4vhJ3emR3Tk/viewform" class="small button">Feedback Survey Link</a>
            </section>
          </div>
          <div class="large-4 medium-4 small-4 columns">
            <section class="panel">
            <h3>Help Fund Us:</h3>
              <p>We would like to make Healing Rain the best space on the internet for gamers who like to live outside of the stereotype. Often this involves hiring the best people for the job. Please help us make this happen by considering small weekly payments through Gittip. Every penny counts towards improving Healing Rain and keeping us ad free!</p>
              <a href="http://gittip.com/castHealingRain" class="small button">Donate Via Gittip</a>
            </section>
          </div>
        </div>

{% endblock %}
